*{
    color:#555;
}

.header{
    color:#fff;
    padding-bottom:5px;
    background:#2B2C31;
    border-bottom:2px solid #C5C613;
}

.footer {
    position:absolute;
    background:#F8F8F8;
    border-top:1px solid #DDDDDD;
    width:100%;
    bottom:0;
}